li {
  /* animation: fadein 1s; */
  /* animation: hide 1s forwards; */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes hide {
  0% {
    opacity: 1;
    color: red;
  }

  50% {
    opacity: 0.5;
    color: green;
  }

  100% {
    opacity: 0;
    color: blue;
  }
}

.fade-enter {
  color: white;
  opacity: 0;
}

.fade-enter-active {
  color: black;
  opacity: 1;
  transition: color 1s ease-in;
}

.fade-enter-done {
  color: black;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
